---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
Standard: c++11
BraceWrapping:
  AfterClass:      true
  AfterCaseLabel: true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterExternBlock: true
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Custom
---

